/* styling para el index */

body, ul,li, h1, a {
    margin: 0;
    padding: 0;
    font-family: Arial;    
}

header {
    background-color: rgb(231, 230, 230);
    color: #4B4B4B;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

header h1 {
    font-size: 25px;
}    

nav {
    background-color: #f4f4f4;
    padding: 20px 0;
    width: 100%;    
    position: sticky;
    top: 49px;
    z-index: 2;

}
nav ul {
    display: flex;
    white-space: nowrap;
    justify-content: space-evenly;
}

nav li {
    display: inline-block;
    font-size: 32px;
}

nav li a {
    text-decoration: none;
    color: #4B4B4B;
}

main {
    max-width: 100%;
    width: 100%;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}

article h2 {
 color: #4B4B4B;
 font-size: 36px;
 text-align: center;
}

article p {
 line-height: 2em;    
 text-align: justify;
}

.images{
    text-align: center; 
    margin: 80px 0;
    white-space: nowrap;
}

.images li{
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}

.images li img{
    max-width: 100%;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;   
    }

footer{
    text-align: center;
    padding: 10px;
}

/* styling para el formulario */
form {
    width: 90%;
    max-width: 600px;
    align-items: center;
    justify-content:center;
}

.input-group {
    margin-bottom: 10px;
    position: relative;
}

input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #4B4B4B;
    color: #4B4B4B;
    background: transparent;
    font-size: 15px;
}

label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #4B4B4B;
    cursor: text;
    transition: 0.2s;
}

button{
    padding: 10px;
    color: #4B4B4B;
    outline: none;
    background: transparent;
    border: 1px solid #4B4B4B;
    width: 100%;
    cursor: pointer;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
    font-size: 14px;
}   

/* styling de about_us */

#container {
    padding: 20px 20px;
    font-size: 15px;
    line-height: 2em;
    text-align: justify;       
   }

#container img {
    /* height: 350px; */
    border-radius: 5px;
    float: left;
    margin-right: 20px;
    width: 50%;
    max-width: 100%;
    display: flex;
}

/* styling de galeria */

#img_galeria {
    width: 100%;
    transition: all 0.5s;
    object-fit: cover;
}

#img_galeria:hover {
    transform: scale(1.2);
    border-radius: 50%;
}

.fila {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.columna {
    flex: 20%;
    padding: 4px;
}

.columna img {
    margin-top: 5px;
}

@media (max-width: 800px) {
    .columna {
        flex: 40%;
    }  
}

@media (max-width: 600px) {

    .columna {
        flex: 100%;
    }
}
