/* styling para el index */

body, ul,li, h1, h2, a {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

header {
    background-color: rgb(231, 230, 230);
    color: #4B4B4B;
    padding: 20px 5px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

header h1 {
    font-size: 24px;
    height: 30px;
}    

nav {
    font-size: 24px;
    background-color: #f4f4f4;
    padding: 20px;    
    position: sticky;
    top: 49px;
    z-index: 2;

}
nav ul {
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

nav li {
    width: 20%;
    display: inline-block;
    font-size: 22px;
}

nav li a {
    text-decoration: none;
    color: #4B4B4B;
}

main {
    max-width: 100%;
    width: 1300px;
    margin: 200px 0 0 0;
    padding: 0 40px;
    box-sizing: border-box;
}

article h2 {
 color: #4B4B4B;
 font-size: 36px;
 text-align: center;
}

article p {
 line-height: 2em;    
 text-align: justify;
}

.images{
    text-align: center; 
    margin: 80px 0;
    white-space: nowrap;
}

.images li{
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}

.images li img{
    max-width: 100%;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    }

footer{
    text-align: center;
    padding: 10px;
}

/* styling para el formulario */

#formulario{
    align-items: center;
    justify-content:center;
}

form {
    width: 90%;
    max-width: 600px;
    align-items: center;
    justify-content:center;
}

.input-group {
    margin-bottom: 10px;
    position: relative;
}

input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #4B4B4B;
    color: #4B4B4B;
    background: transparent;
    font-size: 15px;
}

label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #4B4B4B;
    cursor: text;
    transition: 0.2s;
}

button{
    padding: 10px 0;
    color: #4B4B4B;
    outline: none;
    background: transparent;
    border: 1px solid #4B4B4B;
    width: 100%;
    cursor: pointer;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
    font-size: 14px;
}   

.input-group.terms {
    position: relative;
}

/* styling de about_us */

#container {
    padding: 20px 20px;
    font-size: 15px;
    line-height: 2em;
    text-align: justify;       
   }

#container img {
    height: 350px;
    border-radius: 5px;
    float: left;
    margin-right: 20px;
    width: 50%;
    max-width: 100%;
    display: flex;
}

/* styling de galeria */

#img_galeria {
    width: 100%;
    transition: all 0.5s;
    object-fit: cover;
}

#img_galeria:hover {
    transform: scale(1.2);
    border-radius: 50%;
}

.fila {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.columna {
    flex: 20%;
    padding: 4px;
}

.columna img {
    margin-top: 5px;
}

@media (max-width: 800px) {
    .columna {
        flex: 40%;
    }  
}

@media (max-width: 600px) {
    .columna {
        flex: 100%;
    }
}

/* Estilo para el menú hamburguesa */
.menu-toggle {
    display: none; /* Ocultar por defecto en pantallas grandes */
    cursor: pointer;
}

.menu-toggle i {
    font-size: 24px;
}

/* Estilo para la navegación principal */
.main-nav {
    text-align: center;
}

.main-nav ul {
    list-style: none;
    padding: 0;
}

.main-nav li {
    display: inline-block;
    margin-right: 20px;
}

/* Media Query para mostrar el menú hamburguesa en dispositivos móviles */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block; /* Mostrar en dispositivos más pequeños */
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .main-nav {
        display: none; /* Ocultar por defecto en dispositivos pequeños */
        position: absolute;
        top: 80px;
        right: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .main-nav.active {
        display: block; /* Mostrar cuando el menú está activo */
    }

    .main-nav li {
        display: block;
        margin: 10px 0;
    }
}
